<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:mem:tennis_db;DB_CLOSE_DELAY=-1</property>
        <property name="hibernate.connection.username">rama</property>
        <property name="hibernate.connection.password"></property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

        <mapping class="com.rama.tennisscoreboard.model.Player"/>
        <mapping class="com.rama.tennisscoreboard.model.Match"/>

    </session-factory>
</hibernate-configuration>